<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Upload with SRGAN</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">Upload image to Enhance</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form action="/" method="post" enctype="multipart/form-data" class="border p-3 mt-3">
          <div class="form-group">
            <label for="file">Choose an image:</label>
            <input type="file" class="form-control-file" id="file" name="file" required>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Upload & Enhance</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
